html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #707070;
  font-family: 'Khula', 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
}

img {
  max-width: 100%;
  height: auto;
}

.box-left {
  left: 0;
  width: 50%;
  height: 100%;
  position: fixed;
  background-color: #dcdcdc;
}

.box-left .title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.box-right {
  right: 0;
}

.box-right .box-img img {
  height: 100vh;
  object-fit: cover;
}

.box-right__size {
  width: 50%;
  margin: 0 0 0 auto;
}

.career .box .career-h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
}

.career .box p {
  width: 80%;
  margin: 50px;
  line-height: 1.5;
}

.career .box .career-img {
  width: 80%;
  margin: 0 auto;
}

.career .box .career-img img {
  margin-top: 50px;
}

.skills {
  margin-top: 50px;
}

.skill {
  background-color: #b0c4de;
  display: flex;
}

.skill .skill-box {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 30px;
}

.skill .skill-box .skill-container .skill-h2 {
  text-align: center;
  padding: 50px 0;
  font-size: 2rem;
  font-weight: bold;
}

.skill .skill-box .skill-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill .skill-box .skill-container ul li {
  padding: 20px 20px;
  display: block;
  text-align: center;
}

.skill .skill-box .skill-container ul li .fab {
  font-size: 8rem;
}

.skill .skill-box .skill-container ul li p {
  margin-top: 20px;
}

.footer {
  background-color: #fff;
  height: 100px;
}

.footer .small {
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 100px;
}
